* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Albra";
    src: url(../font/Albra\ Regular.otf);
}

@font-face {
    font-family: "Muli";
    src: url(../font/Muli\ Light.ttf);
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/*///////////////////////////////////////////
///////////////// HEADER ///////////////////
/////////////////////////////////////////*/

#contenedorHeader{
    height: 511px;
    background-image: url(../img/fondo_header.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#contenedorHeaderLogo{
    transform: translateY(-90px);
}

#contenedorHeaderNav{
    transform: translateY(-65px);
    width: 80%;
}

#contenedorHeaderNav ul{
    font-family: "Albra", serif;
    font-size: 16pt;
    color: #453E40;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contenedorHeaderNav ul li {
    padding: 20px;
}

.hoverTrazo{
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 3s;
}

.hoverIcon:hover{
    cursor: pointer;
    opacity: 0.7;
}

.hoverTrazo:hover{
    cursor: pointer;
    background-image: url(../img/trazo_links.png);
}

#btnTuMarca{
    position: absolute;
    bottom: 64px;
    width: 365px;
    height: 56px;
    background-color: #453E40;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .16);
}

#btnTuMarca p {
    color: #FFFFFF;
    font-family: "Albra", serif;
    font-size: 18pt;
}

#btnTuMarca:hover{
    cursor: pointer;
    background-color: #a7a398; 
}

/*///////////////////////////////////////////
///////////////// INTRO  ///////////////////
/////////////////////////////////////////*/

#contenedorIntro{
    width: 100%;
    height: 250px;
    background-color: #453E40;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorIntro p {
    color: #FFFFFF;
    font-family: "Muli", serif;
    font-size: 19pt;
    text-align: center;
    padding: 0 200px 0 200px;
    word-spacing: 3pt;    
}